<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HomeUI</servlet-name>
  	<display-name>HomeUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.HomeUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUI</servlet-name>
  	<display-name>LoginUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.LoginUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexUI</servlet-name>
  	<display-name>IndexUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.IndexUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VaccineCertUI</servlet-name>
  	<display-name>VaccineCertUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.VaccineCertUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitHistoryUI</servlet-name>
  	<display-name>VisitHistoryUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.VisitHistoryUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnnouncementUI</servlet-name>
  	<display-name>AnnouncementUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.AnnouncementUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckInUI</servlet-name>
  	<display-name>CheckInUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.CheckInUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOutUI</servlet-name>
  	<display-name>CheckOutUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.CheckOutUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckInCompleteUI</servlet-name>
  	<display-name>CheckInCompleteUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.CheckInCompleteUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessHomeUI</servlet-name>
  	<display-name>BusinessHomeUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.BusinessHomeUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessGeneratePastCheckInUI</servlet-name>
  	<display-name>BusinessGeneratePastCheckInUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.BusinessGeneratePastCheckInUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BusinessGenerateCheckInUI</servlet-name>
  	<display-name>BusinessGenerateCheckInUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.BusinessGenerateCheckInUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HealthStaffHomeUI</servlet-name>
  	<display-name>HealthStaffHomeUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.HealthStaffHomeUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendAnnouncementUI</servlet-name>
  	<display-name>SendAnnouncementUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.SendAnnouncementUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSentAnnouncementStatusUI</servlet-name>
  	<display-name>ViewSentAnnouncementStatusUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.ViewSentAnnouncementStatusUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientVaccinationStatusUI</servlet-name>
  	<display-name>PatientVaccinationStatusUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.PatientVaccinationStatusUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewVaccinationStatusUI</servlet-name>
  	<display-name>ViewVaccinationStatusUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.ViewVaccinationStatusUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVaccinationStatusUI</servlet-name>
  	<display-name>UpdateVaccinationStatusUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.UpdateVaccinationStatusUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HealthOrganisationHomeUI</servlet-name>
  	<display-name>HealthOrganisationHomeUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.HealthOrganisationHomeUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAccountsUI</servlet-name>
  	<display-name>AddAccountsUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.AddAccountsUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountsManagementUI</servlet-name>
  	<display-name>AccountsManagementUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.AccountsManagementUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAccountsUI</servlet-name>
  	<display-name>UpdateAccountsUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.UpdateAccountsUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateReportUI</servlet-name>
  	<display-name>GenerateReportUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.GenerateReportUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<display-name>DownloadServlet</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuspendAccountUI</servlet-name>
  	<display-name>SuspendAccountUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.SuspendAccountUI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnSuspendAccountUI</servlet-name>
  	<display-name>UnSuspendAccountUI</display-name>
  	<description></description>
  	<servlet-class>com.technozi.boundary.UnSuspendAccountUI</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>HomeUI</servlet-name>
  	<url-pattern>/HomeUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>DownloadServlet</servlet-name>
     <url-pattern>/download</url-pattern>
</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUI</servlet-name>
  	<url-pattern>/LoginUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexUI</servlet-name>
  	<url-pattern>/IndexUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VaccineCertUI</servlet-name>
  	<url-pattern>/VaccineCertUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisitHistoryUI</servlet-name>
  	<url-pattern>/VisitHistoryUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnnouncementUI</servlet-name>
  	<url-pattern>/AnnouncementUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckInUI</servlet-name>
  	<url-pattern>/CheckInUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOutUI</servlet-name>
  	<url-pattern>/CheckOutUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckInCompleteUI</servlet-name>
  	<url-pattern>/CheckInCompleteUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusinessHomeUI</servlet-name>
  	<url-pattern>/BusinessHomeUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusinessGeneratePastCheckInUI</servlet-name>
  	<url-pattern>/BusinessGeneratePastCheckInUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BusinessGenerateCheckInUI</servlet-name>
  	<url-pattern>/BusinessGenerateCheckInUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HealthStaffHomeUI</servlet-name>
  	<url-pattern>/HealthStaffHomeUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendAnnouncementUI</servlet-name>
  	<url-pattern>/SendAnnouncementUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSentAnnouncementStatusUI</servlet-name>
  	<url-pattern>/ViewSentAnnouncementStatusUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewVaccinationStatusUI</servlet-name>
  	<url-pattern>/ViewVaccinationStatusUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVaccinationStatusUI</servlet-name>
  	<url-pattern>/UpdateVaccinationStatusUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HealthOrganisationHomeUI</servlet-name>
  	<url-pattern>/HealthOrganisationHomeUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAccountsUI</servlet-name>
  	<url-pattern>/AddAccountsUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountsManagementUI</servlet-name>
  	<url-pattern>/AccountsManagementUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAccountsUI</servlet-name>
  	<url-pattern>/UpdateAccountsUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateReportUI</servlet-name>
  	<url-pattern>/GenerateReportUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuspendAccountUI</servlet-name>
  	<url-pattern>/SuspendAccountUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnSuspendAccountUI</servlet-name>
  	<url-pattern>/UnSuspendAccountUI</url-pattern>
  </servlet-mapping>
</web-app>
